@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap);
:root {
  --color-orange: #f5af2e;
  --color-black: #141414;
  --color-red: #d72439;
  --color-blue: #c0f6ff;
  --color-grean: #30e581;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: calc(1.525rem + 3.3vw);
}

@media (max-width: 700px) {
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (max-width: 700px) {
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
h3 {
  font-size: calc(1.325rem + 0.7vw);
}

@media (max-width: 700px) {
  h3 {
    font-size: calc(1.325rem + 0.7vw);
  }
}
h4 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (max-width: 700px) {
  h4 {
    font-size: calc(1.3rem + 0.6vw);
  }
}
h5 {
  font-size: calc(1.3rem + 0.3vw);
}

@media (max-width: 700px) {
  h5 {
    font-size: calc(1.3rem + 0.3vw);
  }
}
h6 {
  font-size: calc(1rem + 0.3vw);
}

@media (max-width: 700px) {
  h6 {
    font-size: calc(1rem + 0.3vw);
  }
}
p {
  font-size: 1rem;
}

button {
  font-size: 1.25rem;
  padding: 10px 15px;
  background: none;
  border: none;
  border-radius: 5px;
  transition: 0.1s ease-out all;
  cursor: pointer;
}

button:hover {
  transform: scale(0.9);
}

input {
  border: 2px solid;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: 0.2s ease-out all;
}

input:hover {
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

html {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

.bc-orange {
  background-color: var(--color-orange);
}

.bc-black {
  background-color: var(--color-black);
}

.bc-red {
  background-color: var(--color-red);
}

.bc-blue {
  background-color: var(--color-blue);
}

.bc-grean {
  background-color: var(--color-grean);
}

.color-orange {
  color: var(--color-orange);
}

.color-black {
  color: var(--color-black);
}

.color-red {
  color: var(--color-red);
}

.color-blue {
  color: var(--color-blue);
}

.color-grean {
  color: var(--color-grean);
}

.border-color-orange {
  border-color: var(--color-orange);
}

.border-color-black {
  border-color: var(--color-black);
}

.border-color-red {
  border-color: var(--color-red);
}

.border-color-blue {
  border-color: var(--color-blue);
}

.border-color-grean {
  border-color: var(--color-grean);
}

.cnt {
  padding: 50px 15%;
}

@media (max-width: 500px) {
  .cnt {
    padding: 25px 5%;
  }
}
